@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.right-sidebar {
    display: none;
}
/* === GLOBAL === */
:root {
    --text-blk: black; 
    --text-white: white;
    --color-green: green;
    --color-green-text: rgb(26, 83, 26);
    --color-lgt-green: rgb(80, 246, 58);
    --color-yellow-green: rgb(225, 244, 10);
    --color-orange: rgb(211, 111, 34);
    --color-dark-orange: rgb(170, 76, 3);
    --color-lgt-orange: rgb(244, 173, 120);
    --color-aqua-bright: rgb(0, 255, 255);
    --color-aqua-lgt: rgb(169, 255, 255);
    --color-aqua-lgt-blur: rgba(169, 255, 255, 0.7);
    --color-aqua: rgb(5, 157, 157);
    --color-aqua-blur: rgba(5, 157, 157, 0.6);
    --color-light-black: #2e3840;
    --color-page-bg: whitesmoke;
    --color-logo-beige: #eeebdd;
    --color-logo-blue: #4e6e81;
    --color-lgt-beige: #eeebdd;
    --color-bg-light: rgba(140, 142, 143, 0.3);
    --color-testing: rgba(5, 109, 125, 0.098);
    --listings-background: rgb(203, 249, 203);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;  
}
body {
    /* background: var(--color-page-bg); */
    background-color: rgb(196, 213, 196);
    background-image: url('http://www.indoorgolfdir.com/assets/images/Backspins3png.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    color: var(--text-blk);
    min-height: 100vh;
    position: relative;
}
.dis-flex {
    display: flex;
}
.dis-flex-col {
    display: flex;
    flex-direction: column;
}
.dis-grid {
    display: grid;
    gap: .5rem;
}
h1 {
    font-size: clamp(3rem, 7vw + 1rem, 6.5rem);
}
h2 {
    font-size: clamp(2.5rem, 4vw + .5rem, 4rem);
    padding-bottom: .5em;
}
p {
    color: var(--text-blk);
    font-size: clamp(1.8rem, 4vw + 0.5rem, 2.25rem);
}
.td-none {
    text-decoration: none;
    color: inherit;
}
.hide {
    display: none;
}
.center {
    text-align: center;
}
hr {
    border: 1px solid var(--color-green);
}
.inline-divider {
    color: #929aa5;
    margin: 0 .25rem;
}
.page-container {
    background-color: rgb(231, 231, 231);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    /* border: 3px solid rgb(55, 106, 244); */
}
.container {
    width: 95%;
    max-width: 1200px;
    margin: 1rem auto;
    padding: 0 2em;
    /* border: 5px solid rgb(224, 39, 193); */
    text-wrap: balance;
}

.logo-sm {
    width: 12rem;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-back {
    margin: 2rem auto;
    width: fit-content;
    border: 1px solid black;
    padding: 1rem 3rem;
    border-radius: .5rem;
    text-decoration: none;
    background-color: black;
    color: white;
    transition: background 0.5s;
    font-size: 2rem;
}
.btn-back:hover {
    background: grey; 
    color: black;
}
.red {
    color: red;
    -webkit-text-stroke: red;
}
.blue {
    color: blue;
    -webkit-text-stroke: blue;
}

/* --- END GLOBALS --- */

/* =========== Styles for Indoor Golf Site =========== */

/* === Navbar === */
header {
    background-color: green;
    padding: 0 4rem;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 5rem;
    height: 5rem;
}

li {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}
.navbar {
    display: flex;
    min-height: 80px;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.nav-branding {
    font-size: 4rem;
    color: white;
    padding: 0 1rem;
}

.nav-link {
    transition: 0.7s ease;
    color: white;
    font-size: 2.25rem;
}
.nav-link:hover {
    color: black;
}

.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


@media(max-width:768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        backdrop-filter: blur(12px);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
    }
    .nav-item {
        margin: 1rem 0;
    }
    .nav-menu.active {
        left: 0;
    }
} 
/* --- end Navbar --- */

/* ================ HERO ======================= */
#hero-bg {
    min-height: calc(100vh - 60px - 60px);
    background-color: rgb(159, 183, 159);
    background-image: url('http://www.indoorgolfdir.com/assets/images/heroimg1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    width: 100%;
    min-height: 80vh;
    padding: 3.5em 0;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-wrap: balance;
    gap: 2em;
}
/* .hero {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}  */
.headline {
    font-size: clamp(5rem, 9vw, 11rem);
    color: green;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
    -webkit-text-stroke: 2px rgb(205, 201, 201);
    padding-bottom: .3em;
}
.sub-text {
    font-size: clamp(2rem, 3vw, 3.5rem);
    padding: .3em 0;
    margin: 0 auto;
    width: 75%;
    color: var(--color-page-bg);
    text-align: center;
    font-weight: 500;
}
.sub-text-blk {
    color: black;
    font-weight: 500;
    /* width: 70%; */
    margin: 0 auto;
    -webkit-text-stroke: .5rem rgba(89, 116, 91, 0.266);
}

/* ===== Home Page ===== */
.intro {
    font-size: clamp(1.5rem, 3vw, 2.75rem);
    padding: 1.5em 2em .5em 2em;
    /* line-height: 2rem; */
    text-align: justify;
}
.headline-text {
    font-size: clamp(3rem, 5vw, 5rem);
    margin: .5em auto;
    color: var(--text-blk);
    text-align: center;
}
.sub-heading {
    display: flex;
    justify-content: space-between;
    font-size: clamp(1.5rem, 7vw + 1rem, 3rem);
    margin-top: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    color: var(--text-blk);
    text-align: center;
}
.can {
    color: red;
}
.usa {
    color: blue;
}
.country-grid {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: clamp(3rem, 5vw, 5rem);
}
.canada {
    /* border: 2px dashed red; */
    text-align: center;
}
.unitedstates {
    /* border: 2px dashed blue; */
    text-align: center;
}
.dropdown {
    font-size: clamp(1rem, 2vw, 2rem);
}
select#provinces {
    background-color: red;
    color: var(--text-white);
}
select#usStates {
    background-color: blue;
    color: var(--text-white);
}
.search-main {
    display: flex;
    flex-direction: column;
    gap: 3em;
    font-size: clamp(1rem, 2vw, 2rem);
    margin: 0 auto;
    align-items: center;
}
.search-main span {
    align-items: flex-start;
}


/* ===== State Pages ===== */
#hero-bg.hero-bg-state {
    min-height: calc(100vh - 60px - 60px);
    background: linear-gradient(rgba(85, 91, 91, 0.8),rgba(85, 91, 91, 0.8)),url('http://www.indoorgolfdir.com/assets/images/sim1.jpg') no-repeat center / cover;
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    padding-top: 3rem;
}
.headline-state {
    font-size: clamp(4rem, 7vw, 8rem);
    margin-top: .125em;
    color: whitesmoke;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
    /* -webkit-text-stroke: 2px rgb(205, 201, 201); */
    margin-bottom: .3em;
}
.region-btns {
    display: flex;
    justify-content: space-between;
    gap: .2em;
    flex-wrap: wrap;
}
.region-btn {
    display: inline-block;
    margin: 2em auto;
    width: fit-content;
    border: 1px solid var(--color-green);
    padding: 1em 3em;
    border-radius: 30px;
    text-decoration: none;
    background-color: var(--color-green);
    color: var(--text-white);
    transition: background 0.5s;
    font-size: clamp(1.25rem, 2vw, 2.5rem);
}
.region-btn:hover {
    background: var(--color-lgt-green);
    color: var(--text-blk);

}
/* .state-instructions {
    margin: 1rem auto;
    text-align: center;
    width: 70%;
} */
.state-summary {
    font-size: clamp(1.5rem, 2vw, 2.25rem);
    padding: .5em 2em .5em 2em;
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    font-weight: 500;
}
/* --- end State Pages --- */


/* ===== DYNAMIC REGIONS PAGE ===== */

/* Dynamic Region hero */
#region-hero img {
    /* min-height: calc(50vh - 60px - 60px); */
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.region-container-description {
    margin-top: 2em;
    margin-bottom: 3em;
}
.headline-region {
    font-size: clamp(4rem, 7vw + 1rem, 7rem);
    margin-top: .5em;
    color: var(--text-blk);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3rem;
}
.headline-region.region-name {
    background-color: whitesmoke;
    color: var(--color-green);
    z-index: 10;
}
.listings-title {
    font-size: clamp(1.5rem, 2vw, 2.25rem);
    text-align: justify;
    font-weight: 500;
    width: 95%;
    margin: 0 auto;
    padding: .5em 0;
}

/* === Dynamic Region Pages Listings === */
.listings-grid {
    display: grid;
    grid-template-columns: 80% 1fr;
    gap: 2em;
    /* padding: 0 4em; */
    border: 1px solid green;
    padding-top: 3rem;
    background: var(--listings-background);
}
.listings-grid-col1 {
    /* border: 2px dashed red; */
}
.listings-grid-col2 {
    /* border: 2px dashed blue; */
}
.listings-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: .5em;
    font-size: clamp(1.2rem, 1.5vw, 1.35rem);
    /* border: 2px solid rgb(201, 158, 57); */
}
.listings-img {
    width: 12rem;
    height: 12rem;
    padding: 1rem;
}
.list-break {
    border: 1.5px solid var(--color-dark-orange);
}
.listings-summary {
    /* border: 2px solid rgb(78, 97, 12); */
}
.name-featured {
    /* display: flex; */
    padding-bottom: .5rem;
    /* border: 1px solid purple; */
    /* gap: 5rem; */
}
.facility-name {
    color: green;
    font-size: 3rem;
    font-weight: bold;
    font-size: clamp(2rem, 3vw, 3rem);
}
.facility-name:hover {
    color: var(--color-lgt-green);
}
.weblink {
    color: blue;
    text-decoration: underline;
}
.weblink:hover {
    color: var(--color-logo-black);
}
.featured-label {
    color: red;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    padding-top: .5rem;
}
.facility-amenities {
    color: purple;
    padding-top: .25rem;
}

/* Region listings media queries*/
@media(max-width:500px) {
    
}

@media(max-width:600px) {
    .listings-grid {
        grid-template-columns: 1fr;
        padding: .5em 2em;
    }
    .listings-grid-col2 {
        display: none;
    }
    .listings-img {
        display: none;
    }
    .listings-container  {
        grid-template-columns: 5fr 1fr;
    }
}
/* --- end Region Pages Listings --- */

/* #toronto-bg {
    min-height: calc(100vh - 60px - 60px);
    background-color: rgb(160, 174, 160);
    background-image: url('http://www.indoorgolfdir.com/assets/images/toronto.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    width: 100%;
    min-height: 80vh;
    padding-top: 3rem;
}
#gtanorth-bg {
    min-height: calc(100vh - 60px - 60px);
    background-color: rgb(160, 174, 160);
    background-image: url('http://www.indoorgolfdir.com/assets/images/sim3.jpeg');
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    width: 100%;
    min-height: 80vh;
    padding-top: 3rem;
}
#gta-west-bg {
    min-height: calc(100vh - 60px - 60px);
    background: linear-gradient(rgba(228, 245, 230, 0.6),rgba(228, 245, 230, 0.6)), url('http://www.indoorgolfdir.com/assets/images/course.jpg') no-repeat center / cover;
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    padding-top: 3rem;
} */


/* === Facilities Details Page === */
.facility-details-container {
    display: flex;
    flex-direction: column;
    /* gap: 10rem; */
    align-items: center;
    padding: 0 5em;
    background-color: rgb(232, 251, 228);
    /* border: 2px dashed rebeccapurple; */
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* border: 2px solid red; */
    /* gap: 2em; */
}
/* .content div {
    border: 2px solid purple;
} */
.location {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    /* gap: .3em; */
    /* border: 2px dashed red; */
}
.fac-details-name-address {
    /* border: 2px dashed blue; */
}
.google-map {
    width: 250px;
    height: 225px;
    position: relative;
    border: 2px solid black;
}
.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.sm-icon {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}
.fac-details-name {
    color: var(--color-green);
    font-size: clamp(2.5rem, 8vw, 7rem);
    font-weight: 600;
    margin-top: .5em;
    border: 2px solid salmon;
}
.fac-details-address {
    color: var(--color-green-text);
    font-weight: 300;
    font-size: clamp(1.4rem, 2.2vw, 2rem);
    border: 2px solid salmon;
}
.mid-title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--color-light-black);
    text-decoration: underline;
}
.facility-desc p{
    margin: 2rem 0 0 0;
    color: black;
    /* font-size: 1.75rem; */
    font-size: clamp(1.75rem, 2.2vw, 2rem);
}
.amenities-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: flex;
    justify-content: space-between; */
    gap: 2rem;
    margin-bottom: 2em;
}
.amenities {
    color: rgb(42, 138, 133);
    font-size: clamp(1.5rem, 1.5vw, 1.65rem);
}
.sm-title {
    color: black;
    font-size: 2rem;
    padding-top: 2rem;
}
.website-link a {
    color: blue;
    font-size: 1.75rem;
    text-decoration: underline;
    /* padding-left: .5em; */
}
.website-link a:hover {
    color: var(--color-green);
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}
.gallery .main-img img {
    display: none;
}
.gallery .main-img img.active {
    display: inline-block;
    width: 45em;
    height: 40em;
    border-radius: 2rem;
    cursor: pointer;
    background-size: cover;
}
.gallery .thumb-list {
    display: flex;
    justify-content: space-between;
    max-width: 45rem;
    width: 100%;
}
.gallery .thumb-list div {
    width: 9rem;
    height: 9rem;
    margin: 0 .2rem;
}
.gallery .thumb-list img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    cursor: pointer;
}
.gallery .thumb-list img:hover {
    opacity: 50%;
}
.gallery .thumb-list .active {
    border: 3px solid var(--color-green);
    border-radius: 1.3rem;
    margin: 0;
    opacity: 30%;
}

/* Lightbox */
.lightbox {
    display: none;
    position: absolute;
    top: 40%;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background: rgba(10, 165, 2, 0.7);
    align-items: center;
    justify-content: center;
}
.lightbox.active {
    display: flex;
}
.lightbox .gallery {
    max-width: 45rem;
}
.lightbox .main-img {
    position: relative;
}
.lightbox .icon-prev,
.lightbox .icon-next {
    position: absolute;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
}
.icon-next,
.icon-prev {
    cursor: pointer;
}
.icon-prev {
    top: 50%;
    transform: translate(-50%, -50%);
}
.icon-next {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}
.icon-close {
    position: absolute;
    right: -1rem;
    top: -3rem;
    fill: white;
    height: 10px;
    cursor: pointer;
}
.icon-close:hover {
    fill: black;
}


@media(max-width:500px) {
    .gallery .main-img img.active {
        width: 30em;
        height: 28em;
    }
    .lightbox .gallery {
        max-width: 30rem;
    }
    .gallery .thumb-list {
    max-width: 30rem;
    }
    .gallery .thumb-list div {
        width: 7rem;
        height: 7rem;
        margin: 0 .2rem;
    }
}

@media(max-width:750px) {
    .amenities-box {
        grid-template-columns: 1fr 1fr;
    }
}


/* --- end Facilities Details Page --- */


/* ======== Search results page ======= */
td a {
    text-decoration: underline;
    color: blue;
    font-size: 1.75rem;
}
.search-alert {
    font-size: 3rem;
    padding: 2rem 0;
    color: red;
}


/* ============== ADMIN PAGES ===============*/
/* === Admin Navbar === */
.logo-holder {
    width: 10rem;
    height: 10rem;
    display: flex;
}
.header-div {
    flex: auto;
}
.main-title {
    color: var(--color-yellow-green);
    font-size: 4rem;
    font-style: italic;
    font-weight: bold;
}
.dropdown-wrap {
    position: relative;
}
.admin-dropdown {
    position: absolute;
    border: solid thin var(--color-green);
    background-color: var(--color-lgt-green);
    color: white;
    margin-top: 10px;
    display: none;
}
.dropdown-wrap:hover .admin-dropdown {
    display: block;
}
/* end admin navbar */

/* === Admin Pages === */
.table-container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    border: 2px dashed purple;
}
.form-container {
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    border: solid thin #ccc;
}
.form-lg {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 90%;
    margin: 0 auto;
}
.form-control {
    width: 100%;
    padding: 1rem;
    border: solid thin #ccc;
    display: flex;
    font-size: 1.5rem;
}
.form-group {
    display: flex;
}
.form-heading {
    text-align: center;
    color: var(--color-green);
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 0;
}
.form-sub-heading {
    text-align: center;
    color: var(--text-blk);
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}
.label-name {
    font-size: 1.5rem;
    margin-bottom: -1rem;
}
.label-name-big {
    font-size: 2rem;
    margin-bottom: -1rem;
}

.admin-content {
    padding: 20px;
    background-color: #fffbe5;
}

.float-end {
    float: right;
}
.admin-table-head {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 4rem;
    margin-bottom: 3rem;
    color: var(--color-green);
    text-transform: uppercase;
}
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #eee;
}
.table th, .table td {
    border: solid thin #ccc;
    padding: 5px 10px;
}
.table th {
    background-color: #444;
    color: white;
    font-size: 1.5rem;
}
.table td {
    font-size: 1.25rem;
}
td img {
    width: 5rem;
    height: 5rem;
}
.edit-img {
    width: 10rem;
    height: 10rem;
}
.admin-btn-add {
    background-color: purple;
    color: white;
}
.admin-btn-add:hover{
    background-color: rgb(240, 98, 240);
    color: black;
} 
.btn-next {
    background-color: var(--color-green);
    color: white;
}
.btn-next:hover {
    background-color: var(--color-lgt-green);
    color: black;
}
.btn-prev {
    background-color: var(--color-orange);
    color: white;
}
.btn-prev:hover {
    background-color: var(--color-lgt-orange);
    color: black;
}
.btn-save {
    background-color: var(--color-green);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-save:hover {
    background-color: var(--color-lgt-green);
    color: black;
}
.btn-delete {
    background-color: rgb(243, 74, 74);
    color: black;
    padding: 1rem 3rem;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-delete:hover {
    background-color: red;
    color: white;
}

/* ===== Footer ===== */
footer {
    padding: 2em 0;
    background-color: var(--color-green);
    border: 3px solid black;
}
.footer-small {
    margin-top: 10rem;
    border: 3px solid black;
}
.footer-container {
    width: 95%;
    max-width: 1200px;
}
.footer-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    /* padding: 0 4rem; */
    /* border: 2px solid red; */
    padding-top: 3rem;
}
.col {
    /* border: 2px solid sandybrown; */
}
.footer-logo {
    display: flex;
    align-items: center;
}
.footer-logo img {
    width: 7rem;
    height: 7rem;
}
.footer-logo span {
    color: white;
    font-size: 4rem;
}
.footer-title {
    color: var(--color-lgt-beige);
    font-size: clamp(1.5rem, 3vw, 2rem);
    /* text-transform: capitalize; */
    text-align: center;
    text-wrap: balance;
}
.col span {
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding-bottom: 2em;
}
.col span a {
    color: blue;
    text-decoration: underline;
}
.col span a:hover {
    color: white;
}
.links {
    /* border: 2px dashed purple; */
    display: flex;
    flex-direction: column;
    padding-left: 3em;
}
.ft-nav-link {
    transition: 0.4s ease;
    color: white;
    font-size: clamp(.75rem, 2vw, 1.5rem);
}
.ft-nav-link:hover {
    color: black;
}
.search-footer {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.divider {
    border: 1px solid black;
    width: 90%;
    margin: 10px auto;
}
.copyright {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
}
.copyright p {
    font-size: clamp(1rem, 1.5vw, 2rem);
}
.copyright a:hover {
    color: var(--color-aqua);
}

@media(max-width:500px) {
    .footer-columns {
        grid-template-columns: 1fr;
    }
    .footer-links {
        display: flex;
    }
    footer ul li {
        justify-content: space-around;
        cursor: pointer;
    }
    .ft-nav-link {
        padding: .5em;
    }
    .copyright {
        flex-direction: column;
        align-items: center;
    }
}

/* --- end Footer --- */

/* Miscelaneous */
.form-sample {
    display: flex;
    gap: 2rem;
    width: 40%;
    margin: 0 auto;
    font-size: 3rem;
}


/* pagination */
.pagination a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: thin solid #555;
    font-size: 2rem;
}
.pagination a.active {
    background-color: #0d81cd;
    color: #fff;
    border: thin solid #0d81cd;
}
.pagination a:focus {
    border: 1px solid #00ff00;
}
.pagination {
    margin-top: 2rem;
}
.content p {
    margin-bottom: 2.5rem;
}
.page-numbers {
    display: inline-block;
}
.page-info {
    color: black;
    font-size: 1.5rem;
}